<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Welcome to the Home Page</h1>
<div>
    <button onclick="location.href='/logout'">Logout</button>
    <button onclick="location.href='/tasklist'">Task List</button>
    <button onclick="location.href='/user'">User</button>
    <button onclick="location.href='/addTask'">Add Task</button>
</div>
<br>
<table>
    <thead>
    <tr>
        <th>Task Name</th>
        <th>Description</th>
        <th>Priority</th>
    </tr>
    </thead>
    <tbody>
    <!-- Thymeleaf iteration to populate table with active tasks -->
    <tr th:each="task : ${activeTasks}">
        <td th:text="${task.name}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.priority}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>